body{
    background-color: #835b8b;
}

section{
    margin-left: 430px;
    margin-right: 550px;
    background-color: rgb(229, 199, 160);
    height: 540px;
    width: 540px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #81796f;
}

div{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 2px solid #333;
    transition: all 0.4s ease;
    position: relative;
    border-radius: 2px;
    display: inline-block;
    margin-left: 70px;
    margin-top: 30px;
}

input{
    width: 300px;
    position: relative;
    border-radius: 3px;
    border: 2px solid #000000;
    font: italic small-caps bold 16px/2 cursive;
    margin-top: 20px;
    margin-left: 110px;
}
li{
    margin-top: 30px;
    margin-left: 300px;
    display: inline-block;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border-radius: 30%; /*arredondando*/
    border: 2px solid rgba(0,0,0,0.5);
    cursor: pointer;
}
a{
    font-size: 20px;
    margin-left: 35px;
}

.ata{
    margin-left: 25px;
    font: small-caps bold 15px/1 sans-serif;
}

.eita{
    margin-top: 30px;
    margin-left: 300px;
}
footer{
    margin-top: 20px;
    color: white;
    text-align: center;
    font-style: italic;
}

[data-color="first"]{
    background-color: #667BC6 ;/*-----------azul---------*/
}

[data-color="second"]{
    background-color: #81A263;/*-----------vermelho---------*/
}

[data-color="third"]{
    background-color: #FF7F3E;/*-----------verde---------*/
}

[data-color="fourth"]{
    background-color: #C80036;/*-----------marelo---------*/
}

[data-color="firth"]{
    background-color: #1A2130;
}

[data-color="sixth"]{
    background-color: #C08B5C;
}

[data-color="seventh"]{
    background-color: #E5D1FA;
}

[data-color="eighth"]{
    background-color: #C68484;
}

[data-color="ninth"]{
    background-color: #B3A492;
}



[data-color="card"]{
    background-color: #088395;
}